*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;

}

fieldset{
    border: 0;
}

body{
    background-color: rgb(179, 195, 231);
    font-family: sans-serif;
    font-size: 1.5em;
    margin-left: 7%;
    margin-top: 2%;
    color: #380B61;
    justify-content: center;

}
input,select,button,textarea{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.1em;
    display: block;
    color: #8478a8;
}

fieldset.grupo{
    color: #59429d;
}

.campo textarea{
    padding: 0.3em;
    display: block;
}

.botao{
    font-size: 1em;
}


