*{
    margin: 0;
}

h1{
    text-align: right;
    color: rgb(240, 238, 235);
    font-size: 45px;
   
}

h2{
    text-align: left;
}

body{
    margin: 0px;
}

main p{
    text-align: center;
    font-size: large;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(17, 16, 16);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(238, 241, 243);
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    text-align: center;
    font-size: 35px;
    margin-right: 20px;
}

.navbar a:hover{
    background-color: rgb(95, 92, 92);
}

.navbar li{
    float: left;
}

main {
    max-width: 500px; 
    padding: 10px;
}

.imagem {
    max-width: 100%;
    margin-left: 0;
  
}


.footer{
    text-align: center;
    padding: 70px;
}

.footer a{
    margin: 0 10px;
    font-size: large;
    color: rgb(52, 26, 170);
}

.footer i {
    margin-bottom: 30px;
}